<div class="splitcontent">
  <div class="splitcontentleft">
    <fieldset class="box tabular">
      <legend><%=l :label_messenger_settings %></legend>
      <p>
        <%= f.text_field :discord_username, :size => 30 %>
        <em class="info"><%= l(:label_discord_username_info) %></em>
      </p>
    </fieldset>
  </div>
</div>